.main-footer {
    @include flex-column;

        .main-footer__top {
            @include flex-row;
            background: $dark-grey;
            flex-wrap: wrap;

            .footer-header {
                color: white;
            }

            .footer-header--no-margin {
                margin: 0;
            }
    } 
}

.main-footer__bottom {
    @include flex-row;
    background: black;
    align-items: center;
    justify-content: space-between;

    .copyright-text {
        color: white;
        margin-left: 40px;
        min-width: 414px;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .footer-nav {
        width: 500px;

        .footer-nav__list {
            @include flex-row;
            width: 80%;

            .footer-nav__list-item a:hover {
                text-decoration: underline;
            }
        }
    }
}
