
.navigation-list {
    @include flex-row;
    list-style: none;
    justify-content: space-between;
    width: 350px;
}
.navigation-list a {
    text-decoration: none;
}
.header-nav {
    margin-right: 5%;
    
    .header-nav__list {
            .header-nav__list-item a {
                text-decoration: none;
                color: black;
                font-weight: 700;
                background: linear-gradient( to bottom, $yellow 0%, $yellow 100%);
                background-position: 0 100%;
                background-repeat: repeat-x;
                background-size: 4px 4px;
                transition: background-size .2s;
            }
           a:hover {
                background-size: 4px 50px;
            }
        }
    }

.footer-nav__list {

    .footer-nav__list-item a {
        color: white;
    }
}