.recent-projects {
    width: $percent-100;
    margin-top: -260px;

        .recent-projects__images-wrapper {
            @include flex-row;
            margin-top: 15px;
            flex-wrap: wrap;

                .recent-projects__images {
                    height: 230px;
                    padding: 15px;
                    width: 290px;
                }
            }
}

@media (max-width: 1174px) {
    .recent-projects {
        margin-top: 30px;
    }
}