// colors
$main-color: #f6f6f6;
$dark-grey: #424146;
$yellow: #ffea00;
$border: #cdcdcd;

// flex-basis
$percent-100: 100%;
$percent-80: 80%;
$percent-60: 60%;
$percent-30: 30%;
$percent-50: 50%;

//mixins
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    background-color: $main-color;
}

.main-container {
    @include flex-column;
    width: $percent-100;
}

header {
    @include flex-row;
    flex-basis: $percent-100;
    background: $main-color;
    height: 160px;
    align-items: center;
    
        img {
            height: $percent-80;
            margin-left: 5%;
        }
}

nav {
    @include flex-row ;
    width: $percent-80;
    justify-content: flex-end;

}

.navigation {
    @include flex-row;
    flex-basis: $percent-50;
    justify-content: space-evenly;

        
}

.header_banner {
    @include flex-row;
    height: 150px;
    width: 100%;
    align-items: center;
    background-image: url(/images/slider_bg.png);

        .project-button {
            flex-basis: 170px;
            background: $dark-grey;
            height: 50px;
            margin-left: 50px;
            color: $yellow;
                 
                p {
                    margin-left: 10px;
                }

        }
    
}

.main-block {
    @include flex-row;
    flex-basis: $percent-100;
    height: 1000px;
    margin-top: 40px;
}

.main-block_firts-part {
    @include flex-column;
    flex-basis: $percent-60;

        .gallery {
            display: flex;
            background: $dark-grey;
            width: 900px;
            height: 600px;
            margin-left: 15px;
        }

        .project-description {
            flex-basis: 90%;
            height: 620px;

                div {
                    height: 35px;
                    width: 220px;
                    background-color: $dark-grey;
                    color: $yellow;
                    margin-left: 15px;
                }
                
                .project-description-text {
                    margin-left: 15px;
                }
        }
}

aside {
    @include flex-column;
    flex-basis: $percent-30;

        .project-details {
            width: 80%;
            height: 400px;
            background: $dark-grey;
            margin-left: 35px;

                p {
                    color: $yellow;
                    margin-left: 20px;
                }
                ul {
                    list-style-type: none;
                    padding-top: 5px;
                }
        }

        .popular-posts {
            width: 80%;
            height: 420px;
            background: $dark-grey;
            margin-left: 35px;
            margin-top: 30px;

            p {
                color: $yellow;
                margin-left: 20px;
        }
    }

        .tags {
            width: 80%;
            height: 150px;
            background: $dark-grey;
            margin-left: 35px;
            margin-top: 30px;

                p {
                    color: $yellow;
                    margin-left: 20px;
                }

            
        }
}

.recent-projects {
    @include flex-column;
    width: $percent-100;
    height: 500px;
    
        .recent-projects-header {
            height: 30px;
            width: 190px;
            background-color: $dark-grey;
            color: $yellow;
            margin-left: 15px;
        }

        .recent-projects-images {
            display: flex;
            margin-top: 15px;
            justify-content: space-around;

                .image-box {
                    width: 300px;

                    img {
                        max-width: 100%;
                    }
                }
        }
}