@import './var.scss';
@import './nav.scss';
@import './yellow-header.scss';
@import './footer.scss';
@import './gallery.scss';
@import './project-details.scss';
@import './main-aside.scss';
@import './popular-posts.scss';
@import './tags.scss';
@import './recent-projects.scss';

body {
    margin: 0;
    background-color: $main-color;
    min-width: 500px;
    overflow-x: hidden;
    font-family: $roboto;
}

.main-container {
    @include flex-column;
    width: $percent-100;
}

header {
    @include flex-row;
    // width: $percent-100;
    background: $main-color;
    height: 160px;
    align-items: center;
    justify-content: space-between;

        .header-logo {
            height: $percent-80;
            margin-left: 5%;
        }
}

.header_banner {
    @include flex-row;
    height: 150px;
    width: 100%;
    align-items: center;
    background-image: url(/images/slider_bg.png);

        .project-button {
            flex-basis: 170px;
            background: $dark-grey;
            height: 50px;
            margin-left: 50px;
            color: $yellow;
                 
                p {
                    margin-left: 10px;
                }
        }
}

.main-block {
    @include flex-row;
    flex-basis: $percent-100;
    margin-top: 40px;
}

.main-block_firts-part {
    @include flex-column;
    flex-basis: $percent-70;
    
        .project-description {
            width: 100%;
                
                .project-description-text {
                    margin-left: 15px;
                    display: flex;
                    text-indent: 50px;
                    letter-spacing: 2px;
                }
        }
}

// .recent-projects {
//     @include flex-column;
//     width: $percent-100;
//     margin-top: 30px;

//         .recent-projects-images {
//             display: flex;
//             margin-top: 15px;

//                 .image-box {
//                     width: 250px;
//                     padding: 15px;

//                     img {
//                         max-width: 100%;
//                     }
//                 }
//             }
// }
            
            .social-connecting {
                @include flex-row;
                margin-top: 10px;
                

                    .soc-net-icons {
                        margin-left: 10px;
                    }
        }
    

    .contact-info-block {
        @include flex-column;
        margin-left: 60px;
        flex-basis: 350px;
            
            .contact-info {
                height: 200px;
                @include flex-row;

                .contact-info-icons {
                    @include flex-column;
                    justify-content: space-around;
                }

                .contact-info-text {
                    margin-left: 10px;
                    @include flex-column;
                    justify-content: space-around;
                    font-size: $footer-size;
                }
            }
        }

        input {
           background: $dark-grey;
           border: none;
           box-shadow: 0 2px $yellow;
           outline: none;
           caret-color: white;
        }


@media (max-width: 1080px) {
   
    .bottom-block {
        @include flex-column;
        justify-content: center;
        align-items: center;

            .about-us {
                align-items: center;
                text-align: center;

                .photo-stream {
                    width: 408px;
                }
            }

            .tweets-block {  
                justify-content: center;
                margin-top: 40px;

                    h4 {
                        text-align: center;
                    }
                        span {
                            padding-bottom: 40px;
                        }
                        .fab {
                            padding-bottom: 40px;
                        }

                .social-connecting {
                    justify-content: center;
                }        
            }
        .contact-info-block {
            align-items: center;
        }    
    }
}

// footer {
//     @include flex-row;
//     background: black;
//     width: $percent-100;
//     height: 100px;
//     align-items: center;
//     width: 100%;

//         .copyright-text {
//             color: white;
//             margin-left: 40px;
//             min-width: 414px;
//         }

//         nav {
//             @include flex-row;
//             color: white;
//             justify-content: flex-end;
//             width: 800px;
//             margin-left: 20px;
//             min-width: 428px;
//         }
// }   
